@font-face {
    font-family: "Irish Grover";
    src: url("../font/IrishGrover.ttf") ;
}

.root{
    -red: #e10015;
    -orange: #f07f00;
    -green: #60ab35;
    -blue: #1B4898 ;
    -purple: #363180;
    -blue-bg: #8aa1fe;


    -light-orange: #f38f00;
    -light-green: #7bda57;
    -light-blue: #255aa3;
    -light-purple: #69589d;
    -light-blue-bg: #b9cafe;

    -text-color: #333333;

    -fx-font-family: "Irish Grover";

}

Label {
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;

}

Button {
    -fx-background-color: white;
    -fx-border-color: -blue-bg;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-insets: 1px;
    -fx-cursor: hand;
    -fx-border-style: solid;
}

Button:hover {
    -fx-background-color: -light-blue-bg;
}

Text {
    -fx-text-fill: grey;
}
HBox {
    -fx-border-width: 3;
    /*-fx-border-color: #7bda57;*/
}
VBox {
    -fx-border-width: 3;
    /*-fx-border-color: red;*/
}
.play_button {
    -fx-text-fill: -red;
    -fx-font-size: 25px;
    -fx-background-color: white;
    -fx-max-width: 300px;
    -fx-max-height: 50px;
    -fx-border-color: -red;
}

.play_button:hover {
    -fx-text-fill: white;
    -fx-background-color: -red;
    -fx-border-color: -red;
}

.game_name {
    -fx-font-size: 35px;
    -fx-padding: 0 0 30 0;
    -fx-font-weight: bold;
}

.player_add_hbox {
    -fx-padding: 0 0 30 0;
}

.quit_button {
    -fx-min-width: 70px;
    -fx-min-height: 50px;
}
.quit_button:hover {
    -fx-text-fill: -red;
}

.restart_button {
    -fx-background-color: white;
    -fx-border-color: -blue-bg;
    -fx-text-fill: -blue-bg;
    -fx-font-size: 25px;
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
    -fx-min-width: 100px;
    -fx-min-height: 50px;
}
.restart_button:hover {
    -fx-background-color: -blue-bg;
    -fx-border-color: -blue-bg;
    -fx-text-fill: white;
}
.end_label {
    -fx-font-size: 35px;

}
.winner_label {
    -fx-font-size: 20px;
    -fx-background-color: -light-blue-bg;
    -fx-border-color: -blue-bg;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;

}


.player_name {
    -fx-font-size: 25px;
    -fx-fill: -text-color;

}
.card {
    -fx-padding: 10px;
    -fx-cursor: hand;
}

.card_selected {
    -fx-border-color: -red;
    -fx-border-width: 2px;
}

.player_list {
    -fx-background-color: -light-blue-bg;
    -fx-background-radius: 10px;
    -fx-padding: 10 20 10 20;
    -fx-border-radius: 10px;
    -fx-border-color: -blue-bg;
    -fx-font-size: 15px;

}

MenuButton {
    -fx-border-color: -blue-bg;
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-background-insets: 1px;
}

